<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">TY运营</a>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin">管理员<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/message">消息</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/banner/position">运营位</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/content">内容</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/app">应用管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/feedback">用户反馈</a>
        </li>
    </ul>
    <form class="form-inline navbar-form pull-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-success-outline" type="submit">Search</button>
    </form>
</nav>

